/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.7;
  background-color: #f4f4f4;
  color: #222;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Cabeçalho */
.logo {
 width: 110px;
 height: auto;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif ;
  size: 110px;
}


header {
  background-color: rgb(48, 22, 143);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  height: 100px;
  
}


header .container {
 display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100%;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color:  rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: rgb(150, 45, 41);
}

/* Imagens da lateral */
p {
  
  inline-size: 400px;
  writing-mode: horizontal-tb;
  justify-items: stretch;
}

.killua {
  width: 250px; 
  height: auto;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 5px rgb(97, 4, 109);
  border-radius: 20px;

  
}


.killua-container {
display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap; 
}



/* Conteúdo principal */
main {
  padding: 50px ;
}

.card-container {
 display: grid;
  gap: 25px;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap; /* Responsivo */
}

.card {
  
  background-color: white;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Rodapé */
footer {
  background-color: rgb(48, 22, 143);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 0.9rem;
}


.sobre-container {
  display: flex;
  gap: 20px; /* espaço entre imagem e texto */
  align-items: flex-start; /* alinha ao topo */
  margin-bottom: 30px; /* espaço abaixo do bloco */
  flex-wrap: wrap; /* garante responsividade */
}

